# Ignore node_modules directory
node_modules/

# Ignore npm-debug.log file
npm-debug.log

# Ignore yarn error log files
yarn-error.log

# Ignore .env files (for environment variables)
.env

# Ignore any build or compiled output
/dist/
/build/
